.footer {
    width: 100%;
    height: auto;
    background-color: #0D0D0D;
    color: white;


}

.footer p {
    opacity: .9;
}

.footer-box {
    width: 100%;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-box div {
    width: 300px;
    flex-wrap: wrap;
}

.footer h3 {
    color: #F6F6F6;
}

.footer a {
    margin: 240px 0 !important;
    color: rgba(255, 255, 255, 1);
    opacity: .8;
}

.footer a:hover {
    color: #BFD730;
}

.footer img {
    width: 240px;
}

.footer span {
    margin-right: 8px;
}

.divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: white;
    opacity: .1;
}

.copy {
    text-align: center;
    padding: 8px 10%;
}

@media(max-width: 1200px) {
    .footer-box div {
        width: 300px;
    }
}