.footer{
    width: 100%;
    height: auto;
    background-color: #0c0c0c;
    color:#f2f2f2;
    

}
.footer p{
    opacity: .7;
}
.footer-box{
    width: 100%;
    padding: 40px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-box div{
    width: 500px;
    flex-wrap: wrap;
}

.footer h3{
    color:#f2f2f2;
}
.footer a{
    margin: 240px 0 !important;
    color: #f2f2f2;
    opacity: .7;
}

.footer img{
    width: 120px;
}
.footer span{
    margin-right: 8px;
}
.divider{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #f2f2f2;
    opacity: .3;
}
.copy{
    padding: 8px 10%;
}

@media(max-width: 1200px) {
    .footer-box div {
        width: 300px;
    }
}