@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    color: white !important;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    z-index: 1;
}

.navbar2 {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    color: #0D0D0D !important;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    z-index: 1;
    border-bottom: 1px solid #f2f2f2;
    background-color: white;

}

.none {
    display: none;
}

.pestanas p {
    margin: 0 20px;

}

.navbar a {
    color: inherit;
    text-decoration: none !important;
    color: white;
}

.navbar2 a {
    color: inherit;
    text-decoration: none !important;
    color: #0D0D0D;
}

.navbar a:hover,
.navbar2 a:hover {
    color: #c5d645 !important;
}

.logo,
.navbar2 img {
    height: 32px;
}


.fl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.pestanas p:hover {
    color: #c5d645;
    cursor: pointer;
    transition: all 1s ease;
}

.redes span:hover {
    color: #c5d645;
    cursor: pointer;
    transition: all 1s ease;
}

.navbar a {
    color: inherit;
}

.ptab-products {
    position: relative;
}

.menuD {
    height: 40px;
    display: flex;
    align-items: center;
}

.drop {
    min-width: 200px;
    display: flex;
    padding: 16px 0;
    background-color: white;
    border-radius: 8px;
    color: #0D0D0D;
    position: absolute;
    top: 56px;
    flex-direction: column;
    display: none;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 8px 0px rgba(204, 204, 204, 0.25);
}

.menuD:hover .drop {
    display: block;
}

.drop p {
    flex-grow: 1;
    padding: 4px 16px !important;
    margin: 0px;
}

.drop p:hover {
    background-color: rgba(197, 214, 69, .3);
    color: #0D0D0D !important;

}

.btn-secondary {
    border-radius: 4px;
    /* background-color: #313f7b; */
    background-color: #c5d645;
    height: 40px;
    border: none;
    width: 120px;
    color: #0D0D0D;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.mobile {
    display: none;
}

.menuIcon {
    width: 40px;
    height: 40px;
}

.menuMobile {
    position: relative;
    left: 0px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: black;
    z-index: 9;
    padding: 32px 24px;
    display: none;
}

.mobileTabs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;


}

.mobileLogo {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

.mobileTabs a {
    color: black;
    font-size: 18px;
    border-bottom: 1px dashed rgba(217, 217, 217, .4);
}

@media(max-width: 800px) {
    .navbar .redes span {
        display: none;
    }

    .logo {
        width: 120px;
        height: auto;
    }


    .redes {
        display: none;
    }

}

@media(max-width: 600px) {
    .navbar {
        padding: 0% 3%;

    }

    .logo {
        width: 120px;
        height: auto;
    }


    .menu p {
        font-size: 12px;
        margin: 0 10px;
    }

    .mobile {
        display: inline;
    }

    .web {
        display: none;
    }

}

@media(max-width: 330px) {
    .navbar {
        padding: 0% 1%;
        justify-content: center;
    }

    .menu p {
        font-size: 12px;
        margin: 0 5px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    /* 
    .menu img {
        width: 25%;
        text-align: center;
    } */

    .menu hr {
        display: none;
    }

    .navbar .fl {
        display: flex;
        justify-content: space-around;
    }
}